extends header

block content
  header
    img.rounded-circle.mx-auto.d-block(src='images/profilePhoto.jpg' alt='profile_photo')
    h1 Alap Dhruva
    h2 Software Developer
  block content
        include footer